
.shopping-cart {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%;
    margin: auto;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin: auto;
  }
  
  .cart-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
  }
  


  
  